{% extends "layout.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
<div class="container my-2">
    <div class="card mx-auto px-5 bg-light" style="max-width: 800px;">
        <div class="card-body py-5">
            <h1 class="card-title mt-3 fs-1 fw-light">Анализатор страниц</h1>
            <p class="card-text mt-1 fs-5 fw-lighter">Бесплатно проверяйте сайты на SEO-пригодность</p>
            <div class="d-flex mb-3">
                <input type="text" class="form-control me-2" placeholder="https://www.example.com">
                <button type="button" class="btn-lg btn btn-primary text-uppercase">Проверить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}