{% extends "layout.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
<div class="container my-2">
    <div class="card mx-auto px-5 bg-light" style="max-width: 800px;">
        <div class="card-body py-5">
            <h1 class="card-title mt-3 fs-1 fw-light">Анализатор страниц</h1>
            <p class="card-text mt-1 fs-5 fw-lighter">Бесплатно проверяйте сайты на SEO-пригодность</p>
            <form action="{{ url_for('urls_post') }}" method="post">
                <div class="d-flex mb-3">
                    <label for="text" class="visually-hidden">Url для проверки</label>
                    <input type="text" name="url" class="form-control me-2" placeholder="https://www.example.com">
                    <button type="submit" class="btn-lg btn btn-primary text-uppercase" value="Проверить">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}