<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    
</head>
<body>
    <header class="flex-shrink-0">
    <!-- Навигация -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
            
            <a class="navbar-brand" href="/">Анализатор страниц</a>
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/urls" class="nav-link">Сайты</a></li>
                </ul>
            </div>
            </div>
        </nav>
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
    </header>

    <!-- Контент -->
    {% block content %}{% endblock %}

    <footer class="fixed-bottom border-top py-3 mt-5 flex-shrink-0">
        <div class="container-lg">
            <div class="text-center">
                <a href="https://ru.hexlet.io/" target="_blank">Hexlet</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>